{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes projets{% endblock %}

{% block body %}
{# <div class="d-flex justify-content-around bg-dark">
        {% for tag in tags %}
            <p class="border bg-warning text-dark">{{ tags.name }}</p>
        {% endfor %}
    </div>  #}
        <div class="d-flex flex-wrap justify-content-around mt-2 headline2">

        </div>
    </div>
{% endblock %}
