{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes projets{% endblock %}

{% block body %}
    <div class="container-fluid p-1 m-2">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-sm-3">
                <a href="{{ path('skills') }}" class="text-decoration-none">
                    <div class="d-flex flex-column text-dark border-2 border-dark align-items-center justify-content-center p-2  fs-3 ">
                        <p class="my-3"><i class="far fa-star fa-3x"></i></p>
                        <p class="my-3">Compétences</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{{ path('project_') }}" class="text-decoration-none">
                    <div class="d-flex flex-column text-dark border-2 border-dark align-items-center justify-content-center p-2  fs-3 ">
                        <p class="my-3"><i class="fas fa-desktop fa-3x"></i></p>
                        <p class="my-3">Projets</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a class="text-decoration-none">
                    <div class="d-flex flex-column text-dark border-2 border-dark align-items-center justify-content-center p-2  fs-3 ">
                        <p class="my-3"><i class="fas fa-user-graduate fa-3x"></i></p>
                        <p class="my-3">Parcours</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}



