body {
  font-family: Roboto, sans-serif;
  color: #212529;
  background-color: #212529;
}

h1, h2, h3 {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.text-yellow {
  color: #a17e14;
}

.text-yellow:hover{
  color: #212529;
}

.divider-custom {
  margin: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #212529;
  border-radius: 1rem;
  border-color: #212529;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #212529;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #ffc107;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #FFC107;
}

#mainNav {
  /*    padding-top: 1rem;
      padding-bottom: 1rem;
   */
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav {
  margin-top: 0.75rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #E3AE0B;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #E3AE0B;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
  color: #E3AE0B;
}

.fa-bars{
  font-size: 3em !important;
}


.page-section {
  padding: 6rem 0;
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: #E3AE0B;
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .btn-close {
  color: #E3AE0B;
  font-size: 2rem;
  padding: 1rem;
}
.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: #E3AE0B;
  border-color: #E3AE0B;
}
.btn-primary:hover {
  color: #fff;
  background-color: #E3AE0B;
  border-color: #E3AE0B;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #E3AE0B;
  border-color: #E3AE0B;
  box-shadow: 0 0 0 0.25rem rgba(161, 126, 20, 0.68);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #E3AE0B;
  border-color: #E3AE0B;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(197, 152, 9, 0.45);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #E3AE0B;
  border-color: #E3AE0B;
}


