{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center my-3">
        <h1 class="col-10 col-sm-6 bg-dark text-light text-center p-2 m-3 fw-bold">Mes projets</h1>
    </div>
    <div class="justify-content-center col-10 mx-auto mt-2 py-1 fw-bold text-dark">
        {% for project in projects %}
            {{ dump(project) }}
            <p>{{ project.title }}</p>
            <p>{{ project.description }} </p>
        {% endfor %}
    </div>
{% endblock %}
