<footer id="footer" class="bg-dark text-center text-white">
    <div class="container">
        <section class="py-2">
            <a class="btn btn-outline-light btn-floating m-1 rounded-pill" href="https://www.linkedin.com/in/kchallier/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1 rounded-pill" href="https://github.com/k4r1n3/" target="_blank" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-3">
        <p>Made with <i class="far fa-heart"></i> & <i class="fas fa-coffee"></i><br/>Karine Challier</p>
    </div>
</footer>
