<nav class="navbar navbar-expand-lg navbar-light nav-fill bg-dark py-3">
    <div class="container-fluid col-lg-10 mx-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="navbar-brand"></a>
                <ul class="navbar-nav mr-auto m-2 mt-lg-0">
                    <li class="nav-item active ">
                        <a class="nav-link text-light">Réalisations</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light">Contact</a>
                    </li>
                        {%  if (is_granted('ROLE_ADMIN')) %}
                            <li class="nav-item active">
                                <a class="nav-link text-light border border-2 text-uppercase" href="{{ path('#') }}">Admin</a>
                            </li>
                        {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="bg-green text-center py-2">
            <img src="{{ asset('build/images/memoji_1.png') }}" height="110px" alt="logo">
            <p>Karine CHALLIER</p>
        </div>
    </div>
</div>
