{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes compétences{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-center bg-warning">
            <p>Passionnée depuis toujours par le web, j’ai travaillé près de 10 ans dans le secteur de la banque/assurance et au sein de start-up où j’ai occupé des postes de chef de projet web / marketing et communication digitale. </p>
        </div>
    </div>
{% endblock %}
