{% extends 'base.html.twig' %}

{% block title %}Hello SkillsController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-center bg-warning">

        </div>
    </div>
{% endblock %}
